{% extends "layout.html" %}

{% block body %}
<div class="main-div-grid">
    <h1>Area code finder (with countries)</h1>
    <img class="banner-img" src="static/img/lucas-george-wendt-IYm2PCy0f8c-unsplash.webp">
    <p class="description">Please enter a phone code number to find country.</p>
    <form action="/" method="POST">
        <input type="number" id="user_input_code_country" name="area_data_form" placeholder="Enter area code here!">
        <input id="user_sender_code_country" type="submit">
    </form>
</div>
{% endblock %}